<div class="container">
	<form class="form-horizontal col-md-12 panel panel-default" {{action "clearMessage" on="click"}} role="form">
		<br>
		{{partial 'petition-form'}}

		{{partial 'secretary-form'}}

		<br>
		<button type="submit" class="btn btn-primary">Αποθήκευση Αλλαγών</button> <!-- {{action "advancedpetitionSave"}} -->
	</form><br><br>

	<form class="form-horizontal col-md-12" {{action "clearMessage" on="click"}} role="form">
		{{partial 'computed-petition'}}
	
	</form><br>
</div>

{{outlet}}
