<div class="container">
	<form class="form-horizontal col-md-12 panel panel-default" {{action "clearMessage" on="click" preventDefault=false}} role="form">

		<br>
		{{partial 'profile-form'}}

		{{partial 'petition-form'}}

		{{partial 'secretary-form'}}

		<br>
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" {{action "checkDates"}} >
			Αποθήκευση Αλλαγών
		</button>

		<!-- Modal for save advanced petition-->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">Αποθήκευση αλλαγών</h4>
					</div>
					<div class="modal-body">
						{{if datesChanged "Οι ημερομηνίες έχουν αλλάξει, ως εκτούτου τα κόστη ταξιδιού((α) Ημέρες Μετακίνησης Εργασιών (β) Διανυκτερεύσεις και (γ) Ημέρες Αποζημίωσης) θα επανα-υπολογιστούν." "Είστε σίγουροι ότι θέλετε να αποθηκεύσετε τις αλλαγές?"
						}}
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Κλείσιμο</button>
						<button type="submit" class="btn btn-primary" {{action "petitionSave"}} data-dismiss="modal">Αποθήκευση</button>
					</div>
				</div>
			</div>
		</div>
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#submissionModal" {{action "checkDates"}} >
			Υποβολή Αλλαγών
		</button>

		<!-- Modal -->
		<div class="modal fade" id="submissionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">Υποβολή αλλαγών</h4>
					</div>
					<div class="modal-body">
						{{if datesChanged "Οι ημερομηνίες έχουν αλλάξει, ως εκτούτου τα κόστη ταξιδιού((α) Ημέρες Μετακίνησης Εργασιών (β) Διανυκτερεύσεις και (γ) Ημέρες Αποζημίωσης) θα επανα-υπολογιστούν." "Είστε σίγουροι ότι θέλετε να αποθηκεύσετε τις αλλαγές?"
						}}
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Κλείσιμο</button>
						<button type="submit" class="btn btn-primary" {{action "petitionSubmit"}} data-dismiss="modal">Υποβολή</button>
					</div>
				</div>
			</div>
		</div>

		<div class="profileForm" id="divMessage">
			<font>{{petitionMessage}}</font>	
		</div>

	</form><br><br>

	<form class="form-horizontal col-md-12 panel panel-default" {{action "clearMessage" on="click" preventDefault=false}} role="form">
		<br>

		{{partial 'computed-petition'}}

		<button type="button" class="btn btn-primary" id="compute" data-toggle="modal" data-target="#datesModal" disabled>
			Τροποποίηση Υπολογιζόμενων Ημερών
		</button>

		<!-- Modal for change dates in computed petition-->
		<div class="modal fade" id="datesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">Τροποποίηση Υπολογιζόμενων Ημερών</h4>
					</div>
					<div class="modal-body">
				
						<label for="transport_days_manual" class="control-label">Ημέρες Μετακίνησης Εργασιών</label>
						
							{{input value=model.advanced_info.transport_days_manual type="number" class="form-control"}}
				
						<label for="overnights_num_manual" class="control-label">Διανυκτερεύσεις</label>
						
							{{input value=model.advanced_info.overnights_num_manual type="number" class="form-control"}}
						
						<label for="compensation_days_manual" class="control-label">Ημέρες Αποζημίωσης</label>
						
							{{input value=model.advanced_info.compensation_days_manual type="number" class="form-control"}}
						
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Κλείσιμο</button>
						<button type="submit" class="btn btn-primary" data-dismiss="modal" {{action "petitionSave"}}>Αποθήκευση</button>
					</div>
				</div>
			</div>
		</div>
	</form><br>
</div>

{{outlet}}
