<div class="panel panel-default">

	<div class = "panel-heading">
		<h4 class = "panel-title">Υπολογιζόμενα Οικονομικά Στοιχεία</h4>
	</div>

	<div class = "panel-body">
		<div class="profileForm form-group">
			<label for="transport_days_manual" class="col-sm-4 control-label">Ημέρες Μετακίνησης Εργασιών</label>
			<div class="col-sm-2">
				{{input value=model.advanced_info.transport_days_manual type="number" class="form-control" readonly="readonly"}}
			</div>

			<label for="transport_num_proposed" class="col-sm-4 control-label">Προτεινόμενη Τιμή</label>
			<div class="col-sm-2">	
				{{input value=model.transport_days_proposed type="text" class="form-control" readonly="readonly"}}
			</div>
		</div>

		<div class="profileForm form-group">
			<label for="overnights_num_manual" class="col-sm-4 control-label">Διανυκτερεύσεις</label>
			<div class="col-sm-2">
				{{input value=model.advanced_info.overnights_num_manual type="number" class="form-control" readonly="readonly"}}
			</div>

			<label for="overnights_num_proposed" class="col-sm-4 control-label">Προτεινόμενη Τιμή</label>
			<div class="col-sm-2">	
				{{input value=model.overnights_num_proposed type="text" class="form-control" readonly="readonly"}}
			</div>
		</div>

		<div class="profileForm form-group">
			<label for="compensation_days_manual" class="col-sm-4 control-label">Ημέρες Αποζημίωσης</label>
			<div class="col-sm-2">
				{{input value=model.advanced_info.compensation_days_manual type="number" class="form-control" readonly="readonly"}}
			</div>

			<label for="compensation_days_proposed" class="col-sm-4 control-label">Προτεινόμενη Τιμή</label>
			<div class="col-sm-2">	
				{{input value=model.compensation_days_proposed type="text" class="form-control" readonly="readonly"}}
			</div>
		</div>

		<div class="profileForm form-group">
			<label for="trip_days_before" class="col-sm-4 control-label">Εναπομείνασες Ημέρες Μετακίνησης Εργασιών: Πριν</label>
			<div class="col-sm-2">
				{{input value=model.trip_days_before type="text" class="form-control" readonly="readonly"}}
			</div>

			<label for="compensation_days_after" class="col-sm-4 control-label">Εναπομείνασες Ημέρες Μετακίνησης Εργασιών: Μετά</label>
			<div class="col-sm-2">	
				{{input value=model.trip_days_after type="text" class="form-control" readonly="readonly"}}
			</div>
		</div>

		<div class="profileForm form-group">
			<label for="overnights_sum_cost" class="col-sm-4 control-label">Σύνολο Διανυκτέρευσης</label>
			<div class="col-sm-2">
				{{input value=model.overnights_sum_cost type="text" class="form-control" readonly="readonly"}}
			</div>

			<label for="movementCategory" class="col-sm-4 control-label">Αυθημερόν Επιστροφή</label>
			<div class="col-sm-2">
				{{input type="checkbox" name="same_day_return_task" checked=model.same_day_return_task disabled=true readonly="readonly"}}

			</div>
		</div>

		<div class="profileForm form-group">
			<label for="compensation_final" class="col-sm-4 control-label">Σύνολο Ημερήσιας Αποζημίωσης</label>
			<div class="col-sm-2">
				{{input value=model.compensation_final type="text" class="form-control" readonly="readonly"}}
			</div>

			<label for="compensation_level" class="col-sm-4 control-label">Αποζημίωση Ημερήσια</label>
			<div class="col-sm-2">
				{{input value=model.compensation_level type="text" class="form-control" readonly="readonly"}}
			</div>
		</div>

		<div class="profileForm form-group">
			<label for="compensation" class="col-sm-4 control-label">ΣΥΝΟΛΟ</label>
			<div class="col-sm-2">
				{{input value=model.total_cost type="text" class="form-control" readonly="readonly"}}
			</div>
		</div>
	</div>	
	<br>
</div>
