<div class="container">
	<form class="form-horizontal col-md-12" {{action "clearMessage" on="click"}} role="form">
		{{partial 'profile-form'}}

		{{partial 'petition-form'}}
	
		<button type="submit" class="btn btn-primary" {{action "petitionSave"}} disabled={{v-get model 'isInvalid'}}>Αποθήκευση Αλλαγών</button>
		<button type="submit" class="btn btn-primary" id="submit" {{action "petitionSubmit"}} disabled={{v-get model 'isInvalid'}}>Υποβολή Αίτησης</button>

		<div class="profileForm" id="divMessage">
			{{#if (v-get model 'isValid') }}
				<font>{{editMessage}}</font>
			{{/if}}
		</div>

	</form><br>

</div>

{{outlet}}
