<div class="container">
	<form class="form-horizontal col-md-10" role="form" {{action "authenticate" on="submit"}}>

	  	<div class="loginForm form-group">
			<label for="identification">Username</label><br>
	      	{{input id="identification" value=identification type="text" autofocus="autofocus"}}
	  	</div>

	  	<div class="loginForm form-group">
	      	<label for="password">Password</label><br>
	      	{{input id="password" value=password type="password" autofocus="autofocus"}}
	   	</div> 
	 

	  	<button type="submit" class="btn btn-primary">Login</button>
	  	{{#if errorMessage}}
    		<p>{{errorMessage}}</p>
  		{{/if}}
	</form>
</div>	


{{outlet}}
