  {{#paper-sidenav class="md-whiteframe-z2 site-sidenav" lockedOpen="gt-sm"
    open=isSidenavOpen onToggle=(action (mut isSidenavOpen))}}

    {{#paper-toolbar class="site-content-toolbar" tall=true}}
      <div class="logo layout-column layout-align-center-center">
          <h3 style="margin: 3rem 0 0">{{#link-to 'application'}}Travel{{/link-to}}</h3>
          <h5 style="margin: 0">{{#link-to 'application'}}Expenses{{/link-to}}</h5>
      </div>
    {{/paper-toolbar}}

    {{#paper-content}}
      {{#paper-list}}
        {{#unless session.isAuthenticated}}
            {{#menu-item onClick=(transition-to "login")}}{{t 'login.tab'}}{{/menu-item}}
            {{#menu-item onClick=(transition-to "signup")}}{{t 'signup.tab'}}{{/menu-item}}
            {{#menu-item onClick=(transition-to "help")}}{{t 'help.tab'}}{{/menu-item}}
        {{else}}
            {{#paper-content classNames='login-info layout-padding layout-row'}}
                {{#paper-content classNames="user-label" flex="80" padding=1 }}{{t 'logged_in_as.title'}}{{ account.user.username }}{{/paper-content}}
                {{#paper-button flex="20" raised=true onClick=(action 'invalidateSession')}}{{t 'logout.tab'}}{{/paper-button}}
            {{/paper-content}}
            {{#menu-item onClick=(transition-to "profile")}}{{t 'profile.tab'}}{{/menu-item}}
            {{#menu-item onClick=(transition-to "password")}}{{t 'password.change.tab'}}{{/menu-item}}
            {{#unless (or (can "approve petition") (can "compensate petition")  (can "managerApprove petition") (can "view petition"))}}
              {{#menu-item onClick=(transition-to "userPetition" "new")}}{{t 'new_petition.tab'}}{{/menu-item}}
              {{#menu-item onClick=(transition-to "petitionList")}}{{t 'my_petitions.tab'}}{{/menu-item}}
            {{/unless}}
            {{#if (can "approve petition")}}
              {{#menu-item onClick=(transition-to "advancedList")}}{{t 'petitions_list.tab'}}{{/menu-item}}
            {{/if}}
            {{#if (can "compensate petition")}}
              {{#menu-item onClick=(transition-to "advancedList")}}{{t 'petitions_list.tab'}}{{/menu-item}}
            {{/if}}
            {{#if (can "view petition")}}
              {{#menu-item onClick=(transition-to "advancedList")}}{{t 'petitions_list.tab'}}{{/menu-item}}
            {{/if}}
            {{#if (can "managerApprove petition")}}
              {{#menu-item onClick=(transition-to "petitionList")}}{{t 'my_petitions.tab'}}{{/menu-item}}
              {{#menu-item onClick=(transition-to "manager-list")}}{{t 'petitions_list.tab'}}{{/menu-item}}
            {{/if}}
            {{#menu-item onClick=(transition-to "help")}}{{t 'help.tab'}}{{/menu-item}}
        {{/unless}}
      {{/paper-list}}
      {{/paper-content}}
{{/paper-sidenav}}


