<div class="container">
	<form class="form-horizontal col-md-6 leftForm" role="form" {{action "petitionUpdate" on="submit"}}>

		<h4>Στοιχεία Προφίλ</h4><br>


		<div class="profileForm form-group">
			<label for="username" class="col-sm-2 control-label">Username</label>
		<div class="col-sm-4">
			{{input value=model.username type="text" class="form-control" autofocus="autofocus"}}
		</div>
		</div>

		<div class="profileForm form-group">
			<label for="email" class="col-sm-2 control-label">Email</label>
		<div class="col-sm-4">
			{{input value=model.email type="text" class="form-control" autofocus="autofocus"}}
		</div>
		</div>

		<div class="profileForm form-group">
			<label for="first_name" class="col-sm-2 control-label">Όνομα</label>
		<div class="col-sm-4">
			{{input value=model.first_name type="text" class="form-control" autofocus="autofocus"}}
		</div>
		</div>

		<div class="profileForm form-group">
			<label for="last_name" class="col-sm-2 control-label">Επώνυμο</label>
		<div class="col-sm-4">	
			{{input value=model.last_name type="text" class="form-control" autofocus="autofocus"}}
		</div>
		</div>

		<div class="profileForm form-group">
			<label for="iban" class="col-sm-2 control-label">IBAN</label>
		<div class="col-sm-4">	
			{{input value=model.iban type="text" class="form-control" autofocus="autofocus"}}
		</div>
		</div> 

		<div class="profileForm form-group">
			<label for="specialtyID" class="col-sm-2 control-label">Ειδικότητα</label>
		<div class="col-sm-4">	
			{{input value=model.specialtyID type="text" class="form-control" autofocus="autofocus"}}		
		</div>
		</div> 

		<div class="profileForm form-group">
			<label for="kind" class="col-sm-2 control-label">Ιδιότητα</label>
		<div class="col-sm-4">	
			{{input value=model.kind type="text" class="form-control" autofocus="autofocus"}}
		</div>
		</div>

		<div class="profileForm form-group">
			<label for="taxRegNum" class="col-sm-2 control-label">ΑΦΜ</label>
		<div class="col-sm-4">	
			{{input value=model.taxRegNum type="text" class="form-control" autofocus="autofocus"}}
		</div>
		</div>

		<div class="profileForm form-group">
			<label for="taxOffice" class="col-sm-2 control-label">ΔΟΥ</label>
		<div class="col-sm-4">	
			{{input value=model.taxOffice type="text" class="form-control" autofocus="autofocus"}}
		</div>
		</div>
	</form>

	<form class="form-horizontal col-md-6 rightForm"  {{action "petitionUpdate" on="submit"}}>	

		<h4>Στοιχεία Αίτησης Ταξιδιού</h4><br>

		<div class="profileForm form-group">
			<label for="categoryOfTransport" class="col-sm-4 control-label">Κατηγορία Μετακίνησης</label><br>
		<div class="col-sm-8">	
			<select>
  				<option value="inbound">Εσωτερικό</option>
  				<option value="abroad">Εξωτερικό</option>
			</select>
			<!-- {{input value=model.categoryOfTransport type="text" autofocus="autofocus"}}		 -->
		</div>
		</div> 

		<div class="profileForm form-group">
			<label for="project" class="col-sm-4 control-label">Έργο</label>
		<div class="col-sm-8">	
			{{input value=model.project type="text" class="form-control" autofocus="autofocus"}}
		</div>
		</div>

		<div class="profileForm form-group">
			<label for="taskStartDate" class="col-sm-4 control-label">Ημ/νία - Ώρα Έναρξης Εργασιών</label>
		<div class="col-sm-8">	
			{{input value=model.taskStartDate type="date" class="form-control" autofocus="autofocus"}}
			{{input value=model.taskStartTime type="time" class="form-control" autofocus="autofocus"}}
		</div>
		</div>

		<div class="profileForm form-group">
			<label for="taskEndDate" class="col-sm-4 control-label">Ημ/νία - Ώρα Λήξης Εργασιών</label>
		<div class="col-sm-8">	
			{{input value=model.taskEndDate type="date" class="form-control" autofocus="autofocus"}}
			{{input value=model.taskEndTime type="time" class="form-control" autofocus="autofocus"}}
		</div>
		</div>

		<div class="profileForm form-group">
			<label for="departurePoint" class="col-sm-4 control-label">Τόπος Αναχώρησης</label>
		<div class="col-sm-8">	
			{{input value=model.departurePoint type="text" class="form-control" autofocus="autofocus"}}
		</div>
		</div>

		<div class="profileForm form-group">
			<label for="arrivalPoint" class="col-sm-4 control-label">Τόπος Προορισμού</label>
		<div class="col-sm-8">	
			{{input value=model.arrivalPoint type="text" class="form-control" autofocus="autofocus"}}
		</div>
		</div>

		<div class="profileForm form-group">
			<label for="meanOfTransport" class="col-sm-4 control-label">Μέσο Μετακίνησης</label>
		<div class="col-sm-8">	
			{{input value=model.meanOfTransport type="text" class="form-control" autofocus="autofocus"}}
		</div>
		</div> 

		<div class="profileForm form-group">
			<label for="recMeanOfTransport" class="col-sm-4 control-label">Προτεινόμενα Μέσα Μετακίνησης</label>
		<div class="col-sm-8">	
			{{#character-limit max=100}}
			{{textarea value=model.recMeanOfTransport type="text" class="form-control" autofocus="autofocus"}}
			{{/character-limit}}
		</div>
		</div>

		<div class="profileForm form-group">
			<label for="recHotel" class="col-sm-4 control-label">Προτεινόμενο Κατάλυμα</label>
		<div class="col-sm-8">	
			{{#character-limit max=100}}
			{{textarea value=model.recHotel type="textarea" class="form-control" autofocus="autofocus"}}
			{{/character-limit}}
		</div>
		</div>

		<div class="profileForm form-group">
			<label for="recCostParticipation" class="col-sm-4 control-label">Κόστος Συμμετοχής</label>
		<div class="col-sm-8">	
			{{#character-limit max=100}}
			{{textarea value=model.recCostParticipation type="textarea" class="form-control" autofocus="autofocus"}}
			{{/character-limit}}
		</div>
		</div>

		<div class="profileForm form-group">
			<label for="reasonOfTransport" class="col-sm-4 control-label">Αιτιολογία Μετακίνησης</label>
		<div class="col-sm-8">	
			{{#character-limit max=100}}
			{{textarea value=model.reasonOfTransport type="textarea" class="form-control" autofocus="autofocus"}}
			{{/character-limit}}
		</div>
		</div>
	</form><br>
	
	<button type="save" class="btn btn-primary">Αποθήκευση Στοιχείων</button>
	<button type="submit" class="btn btn-primary">Υποβολή Αίτησης</button>
	
</div>

{{outlet}}




