<div class="container">
	<form class="form-horizontal col-md-6 leftForm" role="form" {{action "petitionUpdate" on="submit"}}>

		<h4>Στοιχεία Προφίλ</h4><br>


		<div class="profileForm form-group">
			<label for="username" class="col-sm-2 control-label">Username</label>
		<div class="col-sm-4">
			{{input value=model.username type="text" class="form-control" autofocus="autofocus"}}
		</div>
		</div>

		<div class="profileForm form-group">
			<label for="email" class="col-sm-2 control-label">Email</label>
		<div class="col-sm-4">
			{{input value=model.email type="text" class="form-control" autofocus="autofocus"}}
		</div>
		</div>

		<div class="profileForm form-group">
			<label for="first_name" class="col-sm-2 control-label">Όνομα</label>
		<div class="col-sm-4">
			{{input value=model.first_name type="text" class="form-control" autofocus="autofocus"}}
		</div>
		</div>

		<div class="profileForm form-group">
			<label for="last_name" class="col-sm-2 control-label">Επώνυμο</label>
		<div class="col-sm-4">	
			{{input value=model.last_name type="text" class="form-control" autofocus="autofocus"}}
		</div>
		</div>

		<div class="profileForm form-group">
			<label for="iban" class="col-sm-2 control-label">IBAN</label>
		<div class="col-sm-4">	
			{{input value=model.iban type="text" class="form-control" autofocus="autofocus"}}
		</div>
		</div> 

		<div class="profileForm form-group">
			<label for="specialtyID" class="col-sm-2 control-label">Ειδικότητα</label>
		<div class="col-sm-4">	
			{{input value=model.specialtyID type="text" class="form-control" autofocus="autofocus"}}		
		</div>
		</div> 

		<div class="profileForm form-group">
			<label for="kind" class="col-sm-2 control-label">Ιδιότητα</label>
		<div class="col-sm-4">	
			{{input value=model.kind type="text" class="form-control" autofocus="autofocus"}}
		</div>
		</div>

		<div class="profileForm form-group">
			<label for="taxRegNum" class="col-sm-2 control-label">ΑΦΜ</label>
		<div class="col-sm-4">	
			{{input value=model.taxRegNum type="text" class="form-control" autofocus="autofocus"}}
		</div>
		</div>

		<div class="profileForm form-group">
			<label for="taxOffice" class="col-sm-2 control-label">ΔΟΥ</label>
		<div class="col-sm-4">	
			{{input value=model.taxOffice type="text" class="form-control" autofocus="autofocus"}}
		</div>
		</div>

		<button type="save" class="btn btn-primary">Αποθήκευση Στοιχείων</button>
	</form>

	<form class="form-horizontal col-md-5 rightForm"  {{action "petitionUpdate" on="submit"}}>	

		<h4>Στοιχεία Αίτησης Ταξιδιού</h4><br>

		<div class="profileForm form-group">
			<label>Κατηγορία Μετακίνησης</label><br>
			<select>
  				<option value="inbound">Εσωτερικό</option>
  				<option value="abroad">Εξωτερικό</option>
			</select>
			<!-- {{input value=model.categoryOfTransport type="text" autofocus="autofocus"}}		 -->
		</div> 

		<div class="profileForm form-group">
			<label>Έργο</label><br>
			{{input value=model.project type="text" autofocus="autofocus"}}
		</div>

		<div class="profileForm form-group">
			<label>Ημ/νία - Ώρα Έναρξης Εργασιών</label><br>
			{{input value=model.taskStartDate type="date" autofocus="autofocus"}}
			{{input value=model.taskStartTime type="time" autofocus="autofocus"}}
		</div>

		<div class="profileForm form-group">
			<label>Ημ/νία - Ώρα Λήξης Εργασιών</label><br>
			{{input value=model.taskEndDate type="date" autofocus="autofocus"}}
			{{input value=model.taskEndTime type="time" autofocus="autofocus"}}
		</div>

		<div class="profileForm form-group">
			<label>Τόπος Αναχώρησης</label><br>
			{{input value=model.departurePoint type="text" autofocus="autofocus"}}
		</div>

		<div class="profileForm form-group">
			<label>Τόπος Προορισμού</label><br>
			{{input value=model.arrivalPoint type="text" autofocus="autofocus"}}
		</div>

		<div class="profileForm form-group">
			<label>Μέσο Μετακίνησης</label><br>
			{{input value=model.meanOfTransport type="text" autofocus="autofocus"}}
		</div> 

		<div class="profileForm form-group">
			<label>Προτεινόμενα Μέσα Μετακίνησης</label><br>
			{{#character-limit max=100}}
			{{textarea value=model.recMeanOfTransport type="text" autofocus="autofocus"}}
			{{/character-limit}}
		</div>

		<div class="profileForm form-group">
			<label>Προτεινόμενο Κατάλυμα</label><br>
			{{#character-limit max=100}}
			{{textarea value=model.recHotel type="textarea" autofocus="autofocus"}}
			{{/character-limit}}
		</div>

		<div class="profileForm form-group">
			<label>Κόστος Συμμετοχής</label><br>
			{{#character-limit max=100}}
			{{textarea value=model.recCostParticipation type="textarea" autofocus="autofocus"}}
			{{/character-limit}}
		</div>

		<button type="submit" class="btn btn-primary">Υποβολή Αίτησης</button>
	</form>

</div>

{{outlet}}




