<div class="container">

	<label for="username">Logged in as: <font color="green">{{model.username}}</font></label>
	<form class="form-horizontal col-md-10"  {{action "profileUpdate" on="submit"}}>


		<div class="profileForm">
			<label>Email</label><br>
			{{input value=model.email type="text"}}
			{{#if (v-get model 'email' 'isInvalid') }}
			<font color="red">{{v-get model 'email' 'message'}}</font>
			<!--<font color="red">{{message}}</font>-->
			{{/if}}
		</div>

		<div class="profileForm">
			<label>First Name</label><br>
			{{input value=model.first_name type="text"}}
		</div>

		<div class="profileForm">
			<label>Last Name</label><br>
			{{input value=model.last_name type="text"}}
		</div>

		<div class="profileForm">
			<label>IBAN</label><br>
			{{input value=model.iban type="text"}}
				{{#if (v-get model 'iban' 'isInvalid') }}
			<font color="red">{{v-get model 'iban' 'message'}}</font>
			{{/if}}

		</div> 

		<div class="profileForm">
			<label>Specialty</label><br>
			
			<select onchange={{action "setSpecialty" value="target.value"}}>
				{{#each specialties as |specialtyChoice|}}

				<option value={{specialtyChoice.id}} selected={{eq specialtyChoice.id model.specialtyID.id}}>{{specialtyChoice.name}}</option>

				{{/each}}
			</select>
		</div> 

		<div class="profileForm">
			<label>Kind</label><br>

			<select onchange={{action "setKind" value="target.value"}}>
				{{#each kinds as |kindChoice|}}

				<option value={{kindChoice.id}} selected={{eq kindChoice.id model.userKind.id}}>{{kindChoice.name}}</option>

				{{/each}}
			</select>
		</div>

		<div class="profileForm">
			<label>AFM</label><br>
			{{input value=model.taxRegNum type="text"}}
			{{#if (v-get model 'taxRegNum' 'isInvalid') }}
			<font color="red">{{v-get model 'taxRegNum' 'message'}}</font>
			{{/if}}

		</div>

		<div class="profileForm">
			<label>Tax-Office</label><br>
			<select onchange={{action "setTaxOffice" value="target.value"}}>
				{{#each tax-offices  as |taxOfficeChoice|}}

				<option value={{taxOfficeChoice.id}} selected={{eq taxOfficeChoice.id model.taxOffice.id}}>{{taxOfficeChoice.name}}</option>

				{{/each}}
			</select>

		</div>

		<button type="submit" class="btn btn-primary" disabled={{v-get model 'isInvalid'}}>Submit</button>
		<!--<button type="submit" class="btn btn-primary" >Submit</button>-->
	</form>

</div>

{{outlet}}



