<h2 id="regTitle">Registration Form</h2>

<form class="form-horizontal" {{action "register" on="submit"}}>
<div class="regForm">
    	<label for="name">Όνομα</label>
    	{{input value=name type="text"}}
  	</div><br>

<button type="submit" class="btn" {{action 'saveRegistration'}}>Register</button>
</form>

<h3>Currently Activated Users</h3>
{{#each model as |user|}}
	<h4>Name: {{user.name}}</h4>
{{/each}}
	
{{outlet}}
