<div class="panel panel-default">
	<div class = "panel-heading" role="tab" id="headingSecretary">
		<h4 class = "panel-title"><a role="button" data-toggle="collapse"
                 data-parent="#accordion" href="#secretaryForm"
                 aria-expanded="false" aria-controls="secretaryForm">Στοιχεία Aίτησης που Καταχωρεί η Γραμματεία</a></h4>
	</div>

	<div role="tabpanel" class="panel-collapse collapse"
         id="secretaryForm" aria-labelledby="headingSecretary">
	<div class = "panel-body">
		<div class="profileForm form-group">
			<label for="dse" class="col-sm-2 control-label">ΔΣΕ</label>
			<div class="col-sm-4">
				{{input value=model.advanced_info.dse type="text" class="form-control"}}
			</div>

			<label for="movement_num" class="col-sm-2 control-label">Αρ. Μετακίνησης</label>
			<div class="col-sm-4">
				{{input value=model.advanced_info.movement_num type="text" class="form-control"}}
			</div>
		</div>

		<div class="profileForm form-group">
			<label for="expenditure_date_protocol" class="col-sm-2 control-label">Ημ. Πρ. Αίτησης Δαπάντης</label>
			<div class="col-sm-4">
				{{input value=model.advanced_info.expenditure_date_protocol type="date" class="form-control"}}
			</div>
			<!-- <div class="col-sm-4">
				{{bs-datetimepicker date="" format="DD/MM/YYYY"}}
			</div> -->

			<label for="expenditure_protocol" class="col-sm-2 control-label">Αρ. Πρ.Αίτησης Δαπάνης</label>
			<div class="col-sm-4">	
				{{input value=model.advanced_info.expenditure_protocol type="text" class="form-control"}}
			</div>
		</div> 

		<div class="profileForm form-group">
			<label for="movement_date_protocol" class="col-sm-2 control-label">Ημ. Πρ. Απόφασης Μετακίνησης</label>
			<div class="col-sm-4">
				{{input value=model.advanced_info.movement_date_protocol type="date" class="form-control"}}
			</div>
			<!-- <div class="col-sm-4">
				{{bs-datetimepicker date="" format="DD/MM/YYYY"}}
			</div> -->

			<label for="movement_protocol" class="col-sm-2 control-label">Αρ. Πρ.Απόφασης Μετακίνησης</label>
			<div class="col-sm-4">	
				{{input value=model.advanced_info.movement_protocol type="text" class="form-control"}}
			</div>
		</div> 

		<div class="profileForm form-group">
			<label for="depart_date" class="col-sm-2 control-label">Αναχώρηση</label>
			<div class="col-sm-4">	
				{{input value=model.depart_date type="datetime-local" class="form-control"  }}
			</div>
			<!-- <div class="col-sm-4">
				{{bs-datetimepicker date="" format="DD/MM/YYYY-hh:mm a" }}
			</div> -->

			<label for="return_date" class="col-sm-2 control-label">Επιστροφή</label>
			<div class="col-sm-4">	
				{{input value=model.return_date type="datetime-local" class="form-control" }}
			</div>
			<!-- <div class="col-sm-4">
				{{bs-datetimepicker date="" format="DD/MM/YYYY-hh:mm a" }}
			</div> -->
		</div>

		<div class="profileForm form-group">
			<label for="flight_price" class="col-sm-2 control-label">Αεροπορικό Εισιτήριο</label>
			<div class="col-sm-4">
				{{input value=model.advanced_info.flight.flightPrice type="number" class="form-control" }}
			</div>
		</div>

		<div class="profileForm form-group">
			<label for="overnight_cost" class="col-sm-2 control-label">Διανυκτέρευση (Ημερήσια)</label>
			<div class="col-sm-4">
				{{input value=model.advanced_info.accomondation.hotelPrice type="number" class="form-control" }}
			</div>

			<label for="feeding" class="col-sm-2 control-label">Κάλυψη Διατροφής</label>
			<div class="col-sm-4">
				<select onchange={{action "setFeeding" value="target.value"}} class="form-control"> 
					<option value=""></option>

					{{#each feedings as |feedingChoice|}}
					<option value={{feedingChoice.id}} selected={{eq feedingChoice.id model.advanced_info.feeding.id}}>{{feedingChoice.name}}</option>
					{{/each}}
				</select> 
			</div>
		</div>

		<div class="profileForm form-group">
			<label for="trip_days_before" class="col-sm-2 control-label">Εναπομείνασες Ημέρες Μετακίνησης Εργασιών: Πριν</label>
			<div class="col-sm-4">
				{{input value=model.trip_days_before type="text" class="form-control" }}
			</div>

			<div class="profileForm form-group">
			<label for="non_grnet_quota" class="col-sm-2 control-label" style="font-weight:normal;">Ημ. Αποζημίωση από άλλο Φορέα</label>
			<div class="col-sm-4">
				{{input value=model.advanced_info.non_grnet_quota type="text" class="form-control" }}
			</div>
		</div>
		</div>

		<div class="profileForm form-group">
			<label for="flight" class="col-sm-2 control-label" style="font-weight:normal;">Στοιχεία  Μετακίνησης</label>
			<div class="col-sm-4">
				{{#character-limit max=100}}
				{{textarea value=model.advanced_info.flight.flightName type="text" cols="75" class="form-control"}}
				{{/character-limit}}
			</div>

			<label for="accomondation" class="col-sm-2 control-label" style="font-weight:normal;">Στοιχεία  Καταλύματος</label>
			<div class="col-sm-4">
				{{#character-limit max=100}}
				{{textarea value=model.advanced_info.accomondation.hotel type="textarea" cols="75" class="form-control"}}
				{{/character-limit}}
			</div>
		</div>	

		<div class="profileForm form-group">	
			<!-- <label for="accomondation" class="col-sm-2 control-label" style="font-weight:normal;">Στοιχεία  Καταλύματος</label>
			<div class="col-sm-4">
				{{#character-limit max=100}}
				{{textarea value=model.advanced_info.accomondation.hotel type="textarea" cols="75" class="form-control"}}
				{{/character-limit}}
			</div> -->
		</div>

		<!-- <div class="profileForm form-group">
			<label for="feeding" class="col-sm-2 control-label">Κάλυψη Διατροφής</label>
			<div class="col-sm-4">
				<select onchange={{action "setFeeding" value="target.value"}} class="form-control"> 
					<option value=""></option>

					{{#each feedings as |feedingChoice|}}
					<option value={{feedingChoice.id}} selected={{eq feedingChoice.id model.advanced_info.feeding.id}}>{{feedingChoice.name}}</option>
					{{/each}}
				</select> 
			</div>
		</div> -->

		<!-- <div class="profileForm form-group">
			<label for="non_grnet_quota" class="col-sm-2 control-label" style="font-weight:normal;">Ημ. Αποζημίωση από άλλο Φορέα</label>
			<div class="col-sm-4">
				{{input value=model.advanced_info.non_grnet_quota type="text" class="form-control" }}
			</div>
		</div> -->
	</div>
	</div>
</div>
