<div class="panel panel-default">
	<div class = "panel-heading">
		<h4 class = "panel-title">Στοιχεία Aίτησης που Καταχωρεί η Γραμματεία</h4>
	</div>

	<div class = "panel-body">
		<div class="profileForm form-group">
			<label for="dse" class="col-sm-2 control-label">ΔΣΕ</label>
			<div class="col-sm-4">
				{{input value=model.advanced_info.dse type="text" class="form-control"}}
			</div>

			<label for="movement_num" class="col-sm-2 control-label">Αρ. Μετακίνησης</label>
			<div class="col-sm-4">
				{{input value=model.advanced_info.movement_num type="text" class="form-control"}}
			</div>
		</div>

		<div class="profileForm form-group">
			<label for="expenditure_date_protocol" class="col-sm-2 control-label">Ημ. Πρ. Αίτησης Δαπάντης</label>
			<div class="col-sm-4">
				{{input value=model.advanced_info.expenditure_date_protocol type="date" class="form-control"}}
			</div>

			<label for="expenditure_protocol" class="col-sm-2 control-label">Αρ. Πρ.Αίτησης Δαπάνης</label>
			<div class="col-sm-4">	
				{{input value=model.advanced_info.expenditure_protocol type="text" class="form-control"}}
			</div>
		</div> 

		<div class="profileForm form-group">
			<label for="movement_date_protocol" class="col-sm-2 control-label">Ημ. Πρ. Απόφασης Μετακίνησης</label>
			<div class="col-sm-4">
				{{input value=model.advanced_info.movement_date_protocol type="date" class="form-control"}}
			</div>

			<label for="movement_protocol" class="col-sm-2 control-label">Αρ. Πρ.Απόφασης Μετακίνησης</label>
			<div class="col-sm-4">	
				{{input value=model.advanced_info.movement_protocol type="text" class="form-control"}}
			</div>
		</div> 

		<div class="profileForm form-group">
			<label for="depart_date" class="col-sm-2 control-label">Αναχώρηση</label>
			<div class="col-sm-4">	
				{{input value=model.depart_date type="datetime-local" class="form-control" }}
			</div>

			<label for="return_date" class="col-sm-2 control-label">Επιστροφή</label>
			<div class="col-sm-4">	
				{{input value=model.return_date type="datetime-local" class="form-control"}}
			</div>
		</div>

		<div class="profileForm form-group">
			<label for="flight_price" class="col-sm-2 control-label">Αεροπορικό Εισιτήριο</label>
			<div class="col-sm-4">
				{{input value=model.advanced_info.flight.flightPrice type="text" class="form-control" }}
			</div>
		</div>

		<div class="profileForm form-group">
			<label for="overnight_cost" class="col-sm-2 control-label">Διανυκτέρευση (Ημερήσια)</label>
			<div class="col-sm-4">
				{{input value=model.overnight_cost type="text" class="form-control" }}
			</div>
		</div>

		<div class="profileForm form-group">
			<label for="trip_days_before" class="col-sm-2 control-label">Εναπομείνασες Ημέρες Μετακίνησης Εργασιών: Πριν</label>
			<div class="col-sm-4">
				{{input value=model.trip_days_before type="text" class="form-control" }}
			</div>
		</div>

		<div class="profileForm form-group">
			<label for="flight" class="col-sm-2 control-label">Στοιχεία  Μετακίνησης</label>
			<div class="col-sm-4">
				{{#character-limit max=100}}
				{{textarea value=model.flight type="textarea" cols="75" class="form-control"}}
				{{/character-limit}}
			</div>
		</div>	

		<div class="profileForm form-group">	
			<label for="accomondation" class="col-sm-2 control-label">Στοιχεία  Καταλύματος</label>
			<div class="col-sm-4">
				{{#character-limit max=100}}
				{{textarea value=model.accommondation type="textarea" cols="75" class="form-control"}}
				{{/character-limit}}
			</div>
		</div>

		<div class="profileForm form-group">
			<label for="feeding" class="col-sm-2 control-label">Κάλυψη Διατροφής</label>
			<div class="col-sm-4">
				<!-- <select onchange={{action "setFeeding" value="target.value"}} class="form-control"> 
				<option value=""></option>

				{{#each feedings as |feedingChoice|}}
				<option value={{feedingChoice.id}} selected={{eq feedingChoice.id model.feeding.id}}>{{feedingChoice.name}}</option>
				{{/each}}
				</select> -->
			</div>
		</div>

		<div class="profileForm form-group">
			<label for="non_grnet_quota" class="col-sm-2 control-label">Ημ. Αποζημίωση από άλλο Φορέα</label>
			<div class="col-sm-4">
				{{input value=model.non_grnet_quota type="text" class="form-control" }}
			</div>
		</div>
	</div>
</div>
