<form class="form-horizontal" class="col-md-10" {{action "signup" on="submit"}}>

  	<div class="signupForm">
        <label>Username</label><br>
      	{{input value=username type="text"}}
  	</div>

  	<div class="signupForm">
      	<label>Password</label><br>
      	{{input value=password type="password"}}
   	</div> 
 
 	<div class="signupForm">
      	<label>Email</label><br>
      	{{input value=email type="email"}}
   	</div>

  	<button type="submit" class="btn btn-primary">Sign Up</button>
</form>

<h3>Currently Activated Users</h3>
{{#each model as |user|}}
  <h4>username: {{user.username}}</h4>
  <h4>password: {{user.password}}</h4>
  <h4>email: {{user.email}}</h4>
{{/each}}

{{outlet}}
