<div class="container">
	<form class="form-horizontal col-md-10"  {{action "signup" on="submit"}}>

		<div class="signupForm">
			<label>Username</label><br>
			{{input value=username type="text" key-up='clearUserErrorLabels'}}
			{{#if (v-get model 'username' 'isInvalid') }}
			<font color="red">{{v-get model 'username' 'message'}}</font>

			{{/if}}
			<font color="red">{{usernameExists}}</font>

		</div>

		<div class="signupForm">
			<label>Password</label><br>
			{{input value=password type="password"}}
			{{#if (v-get model 'password' 'isInvalid') }}
			<font color="red">{{v-get model 'password' 'message'}}</font>
			{{/if}}

		</div> 

		<div class="signupForm">
			<label>Email</label><br>
			{{input value=email type="text" key-up='clearEmailErrorLabels'}}

			{{#if (v-get model 'email' 'isInvalid') }}
			<font color="red">{{v-get model 'email' 'message'}}</font>

			{{/if}}

			<font color="red">{{emailProblems}}</font>
		</div>

		<div class="signupForm">
			{{#if (v-get model 'isValid') }}
			<font color="green">{{message}}</font>
			{{/if}}

		</div>
		<button type="submit" class="btn btn-primary">Sign Up</button>
	</form>

</div>

{{outlet}}
