<div class="container">
  <form class="form-horizontal col-md-10"  {{action "signup" on="submit"}}>

	<div class="signupForm">
    <label>Username</label><br>
  	{{input value=username type="text"}}
	</div>

	<div class="signupForm">
  	<label>Password</label><br>
  	{{input value=password type="password"}}
 	</div> 
 
 	<div class="signupForm">
  	<label>Email</label><br>
  	{{input value=email type="email"}}
  </div>

  <button type="submit" class="btn btn-primary">Sign Up</button>
  </form>

</div>


<h3>Currently Activated Users</h3>
{{#each model as |account|}}
  <h4>username: {{account.username}}</h4>
  <h4>password: {{account.password}}</h4>
  <h4>email: {{account.email}}</h4>
{{/each}}

{{outlet}}
