{{#if label}}
  <label for={{inputElementId}} class="{{if required "md-required"}}">{{label}}</label>
{{/if}}

{{#if icon}}
  {{paper-icon icon}}
{{/if}}

{{# if fattrs.time }}
<div layout>
    {{ pick-a-date 
        placeholder=''
        flex=70
        required=fattrs.required
        disabled=fattrs.disabled
        readonly=fattrs.readonly
        class="md-input"
        date=(readonly dateValue)
        options=(hash format="d mmmm, yyyy")
        on-selected=(action handleDate) }}
    {{ pick-a-time
        placeholder=(t 'time_placeholder')
        flex=30
        required=fattrs.required
        disabled=fattrs.disabled
        readonly=fattrs.readonly
        class="md-input"
        date=(readonly dateValue)
        options=(hash format="HH:i")
        on-selected=(action handleDate) }}
</div>
{{ else }}
    {{ pick-a-date
        placeholder=''
        required=fattrs.required
        disabled=fattrs.disabled
        readonly=fattrs.readonly
        class="md-input"
        date=(readonly dateValue)
        on-selected=(action handleDate) }}
{{/if}}

{{#if iconRight}}
  {{paper-icon iconRight}}
{{/if}}

{{#if errors.length }}
<div class="md-input-messages-animation md-auto-hide" ng-messages>
  {{#each errors as |error index|}}

    <div
      id="error-{{index}}"
      class="md-input-error">
      {{error.message}}
    </div>
  {{/each}}
</div>
{{/if}}
