<div>
	{{#paper-button bubbles=false onClick=(action "handleFilterEntry")}}{{t 'list.button.search'}}{{/paper-button}}
	{{#paper-select id="filter" value=filters.project.name onChange=(action "handleChange") placeholder=placeholderLabel }}
		{{#each projects as |project|}}
  		{{#paper-option value=project }}
    		{{project.name}}
  		{{/paper-option}}
		{{/each}}
	{{/paper-select}}
	{{input value=filters.name  placeholder=(t 'placeholder.filterByName')}}
	{{input value=filters.startDate placeholder=(t 'placeholder.filterByStartDate')}}	
	{{input value=filters.endDate placeholder=(t 'placeholder.filterByEndDate')}}
	{{#paper-button bubbles=false onClick=(action "clearFilters")}}{{t 'list.button.clear'}}{{/paper-button}}
</div>
{{yield results}}

