<div>
	<span style="margin-left:1%;">
		{{t 'filters.title'}}
	</span>
	{{paper-input class="filterInput" value=filters.dse onChange=(action (mut filters.dse)) type="number" placeholder=(t 'placeholder.filterByDSE')}}
	{{paper-input class="filterInput" value=filters.last_name onChange=(action (mut filters.last_name)) placeholder=(t 'placeholder.filterByName')}}
	{{#paper-select class="filterSelect" value=filters.project.name onChange=(action (mut filters.project)) placeholder=placeholderLabel }}
		{{#each projects as |project|}}
  		{{#paper-option value=project }}
    		{{project.name}}
  		{{/paper-option}}
		{{/each}}
	{{/paper-select}}
	{{#paper-select class="filterSelect" value=filters.status onChange=(action (mut filters.status)) placeholder=placeholderLabelS }}
		{{#each statuses as |status|}}
      {{#paper-option value=status }}
        {{status}}
      {{/paper-option}}
    {{/each}}
	{{/paper-select}}	
	{{pick-a-date date=depart_date__gte on-selected=(action (mut filters.depart_date__gte)) placeholder=(t 'placeholder.filterByStartDate')}}
	{{pick-a-date date=return_date__lte on-selected=(action (mut filters.return_date__lte)) placeholder=(t 'placeholder.filterByEndDate')}}
	{{#paper-button bubbles=false raised=true onClick=(action "handleFilterEntry")}}{{t 'list.button.search'}}{{/paper-button}}
	{{#paper-button bubbles=false raised=true onClick=(action "clearFilters")}}{{t 'list.button.clear'}}{{/paper-button}}
</div>
