<td>{{petition.dse}}</td>
<td>{{petition.first_name}}</td>
<td>{{petition.last_name}}</td>
<td>{{petition.project.name}}</td>
<td>{{petition.arrival_point.name}}</td>
<td>{{to-date petition.created}}</td>
<td>{{to-date petition.updated}}</td>
<td>{{to-date petition.task_start_date}}</td>
<td>{{to-date petition.task_end_date}}</td>
<td>{{petition.status}}</td>
<td class="icon-cell">
{{#if (can "approve petition")}}
	{{#if (or (eq petition.status 2) (eq petition.status 3))}}
    {{list-action action=(action "edit" petition) icon='pencil' tooltip-message=(t 'tooltip_edit')  iconButton=true confirm=false}}
    {{list-action action=(action "del" petition) icon='trash-o' tooltip-message=(t 'tooltip_delete') iconButton=true confirm=true promptTitle=(t 'prompt_delete_title') promptMessage=(t 'prompt_delete_message')}}
  {{else if (eq petition.status 4)}}
    {{list-action action=(action "undo" petition) icon='undo' tooltip-message=(t 'tooltip_undo') iconButton=true confirm=true promptTitle=(t 'prompt_undo_title') promptMessage=(t 'prompt_undo_message')}}
    {{list-action action=(action "pdf" petition "1") icon='file-text-o' tooltip-message=(t 'pdf_travel_application') iconButton=true confirm=false}}
    {{list-action action=(action "pdf" petition "2") icon='file-text-o' tooltip-message=(t 'pdf_travel_decision') iconButton=true confirm=false}}
  {{else if (eq petition.status 9)}}
    {{list-action action=(action "view" petition) icon='eye' tooltip-message=(t 'tooltip_view') iconButton=true confirm=false}}
  {{/if}}
{{else if (can "compensate petition")}}
  {{#if (or (eq petition.status 7) (eq petition.status 8))}}
    {{list-action action=(action "edit" petition) icon='pencil' tooltip-message=(t 'tooltip_edit')  iconButton=true confirm=false}}
    {{list-action action=(action "del" petition) icon='trash-o' tooltip-message=(t 'tooltip_delete') iconButton=true confirm=true promptTitle=(t 'prompt_delete_title') promptMessage=(t 'prompt_delete_message')}}
  {{else if (eq petition.status 9)}}
    {{list-action action=(action "undo" petition) icon='undo' tooltip-message=(t 'tooltip_undo') iconButton=true confirm=true promptTitle=(t 'prompt_undo_title') promptMessage=(t 'prompt_undo_message')}}
    {{list-action action=(action "pdf" petition "3") icon='file-text-o' tooltip-message=(t 'pdf_compensation_application') iconButton=true confirm=false}}
    {{list-action action=(action "pdf" petition "4") icon='file-text-o' tooltip-message=(t 'pdf_compensation_decision') iconButton=true confirm=false}}
  {{/if}}
{{else}}
	{{#if (or (eq petition.status 1) (eq petition.status 4) (eq petition.status 6))}}
    {{list-action action=(action "edit" petition) icon='pencil' tooltip-message=(t 'tooltip_edit')  iconButton= true confirm=false}}
  {{else if (eq petition.status 1)}}
    {{list-action action=(action "del" petition) icon='trash-o' tooltip-message=(t 'tooltip_delete') iconButton=true confirm=true promptTitle=(t 'prompt_delete_title') promptMessage=(t 'prompt_delete_message')}}
  {{else if (or (eq petition.status 2) (eq petition.status 7))}}
    {{list-action action=(action "undo" petition) icon='undo' tooltip-message=(t 'tooltip_undo') iconButton=true confirm=true promptTitle=(t 'prompt_undo_title') promptMessage=(t 'prompt_undo_message')}}
  {{/if}}
{{/if}} 
</td>








