<td>{{petition.first_name}}</td>
<td>{{petition.last_name}}</td>
<td>{{petition.project.name}}</td>
<td>{{petition.arrivalPoint.name}}</td>
<td>{{petition.creationDate}}</td>
<td>{{petition.updateDate}}</td>
<td>{{petition.taskStartDate}}</td>
<td>{{petition.taskEndDate}}</td>
<td>{{petition.status}}</td>
<td class="icon-cell">
    {{#paper-button type="submit" raised=true onClick=(transition-to "userPetition" petition.petitionID) iconButton=true}}{{fa-icon "pencil"}}{{/paper-button}}
</td>
<td class="icon-cell">
    {{#paper-button type="submit" raised=true onClick=(action "petitionDelete" petition.petitionID petition.status) iconButton=true}}{{fa-icon "trash-o"}}{{/paper-button}}
</td>
<td class="icon-cell">
    {{#paper-button type="submit" raised=true onClick=(action "petitionUndo" petition.petitionID) iconButton=true}}{{fa-icon "undo"}}{{/paper-button}}
</td>
