<td>{{petition.dse}}</td>
<td>{{petition.first_name}}</td>
<td>{{petition.last_name}}</td>
<td>{{petition.project.name}}</td>
<td>{{petition.arrival_point.name}}</td>
<td>{{to-date petition.created}}</td>
<td>{{to-date petition.updated}}</td>
<td>{{to-date petition.task_start_date}}</td>
<td>{{to-date petition.task_end_date}}</td>
<td>{{petition.status}}</td>
<td class="icon-cell">
{{#if (can "approve petition")}}
	{{#if (lte petition.status 3)}}
    {{list-action action=(action "edit" petition) icon='pencil' iconButton=true confirm=false}}
    {{list-action action=(action "del" petition) icon='trash-o' iconButton=true confirm=true}}
  {{else if (eq petition.status 4)}}
    {{list-action action=(action "undo" petition) icon='undo' iconButton=true confirm=true}}
  {{/if}}
{{else}}
	{{#if (or (eq petition.status 1) (eq petition.status 4))}}
    {{list-action action=(action "edit" petition) icon='pencil' iconButton= true confirm=false}}
    {{list-action action=(action "del" petition) icon='trash-o' iconButton=true confirm=true}}
  {{else if (eq petition.status 2)}}
    {{list-action action=(action "undo" petition) icon='undo' iconButton=true confirm=true}}
  {{/if}}
{{/if}}  
</td>

