{{#each travelInfos as |travelInfo index|}}
<span {{ action 'showInfo' index}}>{{ travelInfo.tabLabel }}</span>
<span>remove</span>
{{/each}}

{{#if activeTravelInfo }}
  {{#model-form/form activeTravelInfo ui='user' as |form|}}
    {{ form.messages }}
    {{ form.fields }}
  {{/model-form/form}}
{{/if}}

<span {{action 'add'}}>ADD</span>
<span {{action 'remove'}}>REMOVE</span>
