<div class="layout-column">
{{#each travelInfos as |travelInfo index|}}
{{#paper-button
    class="flex"
    class="destination-label"
    onClick=(action 'showInfo' index)
    raised=(not (eq activeTravelInfo travelInfo))
    accent=(eq travelInfo.errors.length 0)
    warn=(gt travelInfo.errors.length 0)}}

    {{t 'travel_info_number.label'}}{{travelInfo.index}}: {{ travelInfo.tabDisplay }} {{#if travelInfo.errors.length }}({{ travelInfo.errors.length }} errors){{/if}}
{{/paper-button}}

{{#if (and activeTravelInfo (eq activeTravelInfo travelInfo))}}
  {{#model-form/form activeTravelInfo registerForm=this ui=uiToDisplay isTouched=isTouched as |form|}}
    {{ form.messages }}
    {{ form.fields }}
  {{/model-form/form}}
{{/if}}
{{/each}}
</div>

{{#paper-button onClick=(action 'add') raised=true}}{{t 'form.button.add_destination'}}{{/paper-button}}
{{#paper-button onClick=(action 'confirmRemove' index) raised=true }}{{t 'form.button.remove_destination'}}{{/paper-button}}
