<div class="layout-column">
{{#each travelInfos as |travelInfo index|}}
{{#paper-button class="flex" onClick=(action 'showInfo' index) raised=(not (eq activeTravelInfo travelInfo)) accent=true}}{{t 'travel_info_number.label'}}{{travelInfo.index}}: {{ travelInfo.tabDisplay }}{{/paper-button}}
{{#if (and activeTravelInfo (eq activeTravelInfo travelInfo))}}
  {{#model-form/form activeTravelInfo ui=uiToDisplay as |form|}}
    {{ form.messages }}
    {{ form.fields }}
  {{/model-form/form}}
{{/if}}
{{/each}}
</div>

{{#paper-button onClick=(action 'add') raised=true}}{{t 'form.button.add_destination'}}{{/paper-button}}
{{#paper-button onClick=(action 'confirmRemove' index) raised=true }}{{t 'form.button.remove_destination'}}{{/paper-button}}
